@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,300,700);

html, body {
  height: 100%;
}

html {
  font-size: 90%;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html {
    font-size: 90%;
  }

  div.half {
    width: 100% !important;
  }  
}

body {
font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
  margin: 0px;
}

img {
  flex: 1 1 auto;
  max-width: 100%;
}

span.hint--bottom {
  background-color: #EEE;
}

.outer {
  display: flex;
  flex-wrap: wrap;
}

.right {
  order: 2;
  flex: 2 1 700px;
  font-size: 0.60em;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;  
}

.left {
  order: 1;
  flex: 1 1 300px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 5%;
}

.poetry-top {
/*  word-spacing: 9999999px;
*/  padding-bottom: 20px;
}

h1 {
  font-size: 2.1em;
  line-height: 100%;
  margin-top: 0px;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.45em;
  line-height: 100%;
  margin-bottom: 0px;
}

h4 {
  font-size: 1.25em;
  margin-top: 0px;
}

ul {
  margin-bottom: 30px;
}

li {
  list-style-type: circle;
  margin-bottom: 0.4em;
}

div.half {
  float: left;
  width: 48%;
}

div.half:first-child {
  margin-right: 4%;
}

hr {
  margin-top: 25px;
  margin-bottom: 30px;
  opacity: 0.3;
}

ul.other-projects li:not(:first-child) {
  margin-top: 15px;
}

.links {
  font-size: 0.8em;
}

.left * {
  opacity: 0;
}

.left a {
  color: white;
  text-decoration: none;
}

.left a:hover {
  color: #CCC;
}

.center-self {
  align-self: center;
}

.right a {
  color: black;
}

.right > div {
  overflow: auto;
  display: none;  
}

.hidden {
  display: none;
}

.fr {
  float: right;
}

.cr {
  clear: right;
}

.pushdown {
  margin-top: 10px;
}

/* Based on http://cssdeck.com/labs/custom-webkit-scrollbars */

.custom-scrollbar {
  padding-right: 25px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(113,112,107,0.15);
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0,0,0,0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgba(0,0,0,0.15);
}
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0,0,0,0.15);
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

#projects img {
  float: right;
  max-width: 20%;
  border: 1px solid #CCC;
  margin: 5px;
}

::selection {
  background: yellow;
}

::-moz-selection {
  background: yellow;
}

pre ::selection {
  background: green;
}

pre ::-moz-selection {
  background: green;
}

.left ::selection {
  background: red;
}

.left ::-moz-selection {
  background: red;
}

.article-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 400px;
  margin-bottom: 50px;
}

.article-top div.header-text {
  color: #FFF;
  margin: 0px auto;
  width: 50%;
  padding-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.article-top div.header-text a {
  color: #FFF;
  text-decoration: none;
}

.article-top-placeholder {
  height: 400px;
  margin-bottom: -400px;
  background-color: black;
  position: relative;
  top: -450px;
  z-index: -1;
}

.header-right {
  font-size: 0.62em;
  float: right;
}

.header-right a {
  margin-left: 40px;
}

.article {
  font-size: 0.52em;
  margin: 0px auto;
  width: 90%;
  margin-bottom: 50px;
}

.article a {
  text-decoration: underline;
  color: inherit;
}

.article h2 {
  font-size: 2.2em;
}

.article span.byline {
  color: #757575;
}

.article-body {
  line-height: 170%;
}

.article-body h3 {
  font-size: 1.9em;
  margin-top: 50px;
  margin-bottom: 20px;
}

.article-body h4 {
  margin-top: 27px;
  margin-bottom: 20px;
}

.article-body p {
  margin: 18px 0px;
}

.article-body p code, .article-body li code {
  background-color: #F2F2F2;
  color: #905;
  padding: 3px;
  font-size: 1.2em;
  font-weight: bold;
}

.article-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-body blockquote {
  border-left: 5px solid rgba(30, 161, 255, 0.5);
  padding: 10px 0px 10px 10px;
}

.article-body pre code {
  padding: 20px;
  font-size: 1.2em;
}

@media (min-width: 992px) {
  .article {
    width: 40%;
  }
}
