html, body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin: 0px;
}

img {
  flex: 1 1 auto;
  max-width: 100%;
}

.outer {
  display: flex;
  flex-wrap: wrap;
}

.right {
  order: 2;
  flex: 2 1 700px;
  font-size: 0.60em;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;  
}

.left {
  order: 1;
  flex: 1 1 300px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 5%;
}

h1 {
  font-size: 2.1em;
  line-height: 100%;
  margin-top: 0px;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.45em;
  line-height: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
}

h4 {
  font-size: 1.25em;
  margin-top: 0px;
}

ul {
  margin-bottom: 30px;
}

li {
  list-style-type: circle;
  margin-left: 5px;
  margin-bottom: 5px;
}

div.half {
  float: left;
  width: 48%;
}

div.half:first-child {
  margin-right: 4%;
}

hr {
  margin-top: 25px;
  margin-bottom: 30px;
  opacity: 0.3;
}

ul.other-projects li:not(:first-child) {
  margin-top: 15px;
}

.links {
  font-size: 0.8em;
}

.left * {
  opacity: 0;
}

.left a {
  color: white;
  text-decoration: none;
}

.left a:hover {
  color: #CCC;
}

.center-self {
  align-self: center;
}

.right a {
  color: black;
}

.right > div {
  overflow: auto;
  display: none;  
}

.hidden {
  display: none;
}

.fr {
  float: right;
}

.cr {
  clear: right;
}

.pushdown {
  margin-top: 10px;
}

/* Based on http://cssdeck.com/labs/custom-webkit-scrollbars */

.custom-scrollbar {
  padding-right: 25px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(113,112,107,0.15);
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0,0,0,0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgba(0,0,0,0.15);
}
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0,0,0,0.15);
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

#projects img {
  float: right;
  max-width: 20%;
  border: 1px solid gray;
  margin: 5px;
}